In [2]:
import pandas as pd 
import numpy as py 
chi = pd.read_csv('F:\\udacity\\project 1\\chicago.csv')
chi

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [ ]:
h= pd.read_csv('') 
h

In [4]:

chi = pd.read_csv('F:\\udacity\\project 1\\chicago.csv')
chi

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [5]:
nyc= pd.read_csv('F:\\udacity\\project 1\\new_york_city.csv')
nyc

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0
...,...,...,...,...,...,...,...,...,...
299995,3273600,2017-04-24 17:51:12,2017-04-24 17:59:28,495,W 25 St & 6 Ave,W 38 St & 8 Ave,Subscriber,Male,1977.0
299996,3418509,2017-04-28 12:02:29,2017-04-28 12:19:04,994,W 27 St & 7 Ave,W 52 St & 5 Ave,Subscriber,Male,1967.0
299997,5034995,2017-05-31 09:11:10,2017-05-31 09:24:16,785,3 Ave & E 72 St,W 44 St & 5 Ave,Subscriber,Male,1972.0
299998,78227,2017-01-05 08:31:37,2017-01-05 08:51:01,1164,Columbia St & Kane St,Barclay St & Church St,Subscriber,Male,1964.0
299999,2554332,2017-04-09 17:46:51,2017-04-09 18:06:40,1189,Division St & Bowery,Lafayette St & Jersey St,Subscriber,Female,1985.0

In [38]:
was= pd.read_csv('F:\\udacity\\project 1\\washington.csv')
was

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber
...,...,...,...,...,...,...,...
299995,945535,2017-04-26 03:12:14,2017-04-26 03:41:19,1745.528,Lincoln Memorial,Jefferson Dr & 14th St SW,Customer
299996,1495781,2017-06-11 09:48:52,2017-06-11 10:22:31,2018.450,Key Blvd & N Quinn St,5th & K St NW,Subscriber
299997,12860,2017-01-04 14:33:00,2017-01-04 14:43:00,583.897,17th & K St NW / Farragut Square,7th & F St NW/Portrait Gallery,Subscriber
299998,977621,2017-04-28 07:17:47,2017-04-28 07:56:31,2324.170,Jefferson Dr & 14th St SW,Washington & Independence Ave SW/HHS,Customer
299999,1553359,2017-06-16 04:08:16,2017-06-16 04:29:38,1281.459,10th & Monroe St NE,3rd & H St NW,Customer

# Popular times of travel

In [7]:
st=pd.concat ([nyc['Start Time'] , was['Start Time'],chi['Start Time']])

In [8]:
st

0         2017-06-11 14:55:05
1         2017-05-11 15:30:11
2         2017-03-29 13:26:26
3         2017-05-08 19:47:18
4         2017-06-21 07:49:16
                 ...
299995    2017-01-21 13:18:00
299996    2017-04-28 19:32:19
299997    2017-02-12 09:59:01
299998    2017-04-16 17:07:15
299999    2017-05-30 12:38:28
Name: Start Time, Length: 900000, dtype: object

In [9]:
st=pd.to_datetime(st)

In [10]:
#most common day of week
days= st.dt.day_name()

In [11]:
print(' most common day of week = '+ days.mode())

0     most common day of week = Wednesday
dtype: object

In [12]:
#most common month
month = st.dt.month_name()

In [13]:
print(' most common month = '+ month.mode())

0     most common month = June
dtype: object

In [14]:
#most common hour
hour = st.dt.hour

In [15]:
print('most common hour of day = ' +  str( hour.mode() ))

most common hour of day = 0    8
dtype: int64

# Popular stations and trip

In [16]:
#star station
ss=pd.concat([nyc['Start Station'],was['Start Station'],chi['Start Station']])
ss

0               Suffolk St & Stanton St
1               Lexington Ave & E 63 St
2                     1 Pl & Clinton St
3                 Barrow St & Hudson St
4                       1 Ave & E 44 St
                      ...
299995          Orleans St & Elm St (*)
299996       Ashland Ave & Blackhawk St
299997    Ravenswood Ave & Lawrence Ave
299998        Sheffield Ave & Willow St
299999        Wacker Dr & Washington St
Name: Start Station, Length: 900000, dtype: object

In [17]:
# most common start station
print('most common start station = '+ ss.mode()  )

0    most common start station = Streeter Dr & Gran...
dtype: object

In [18]:
#end station
es=pd.concat([nyc['End Station'],was['End Station'],chi['End Station']])
es

0               W Broadway & Spring St
1                      1 Ave & E 78 St
2                 Henry St & Degraw St
3                      W 20 St & 8 Ave
4                      E 53 St & 3 Ave
                      ...
299995     Sheffield Ave & Webster Ave
299996               Clark St & Elm St
299997    Stockton Dr & Wrightwood Ave
299998          Clark St & Chicago Ave
299999         Damen Ave & Division St
Name: End Station, Length: 900000, dtype: object

In [19]:
# most common end station
print('most common End station = '+ es.mode()  )

0    most common End station = Streeter Dr & Grand Ave
dtype: object

In [20]:
trip=pd.DataFrame({'start':ss , 'end':es})

In [21]:
trip

                                start                           end
0             Suffolk St & Stanton St        W Broadway & Spring St
1             Lexington Ave & E 63 St               1 Ave & E 78 St
2                   1 Pl & Clinton St          Henry St & Degraw St
3               Barrow St & Hudson St               W 20 St & 8 Ave
4                     1 Ave & E 44 St               E 53 St & 3 Ave
...                               ...                           ...
299995        Orleans St & Elm St (*)   Sheffield Ave & Webster Ave
299996     Ashland Ave & Blackhawk St             Clark St & Elm St
299997  Ravenswood Ave & Lawrence Ave  Stockton Dr & Wrightwood Ave
299998      Sheffield Ave & Willow St        Clark St & Chicago Ave
299999      Wacker Dr & Washington St       Damen Ave & Division St

[900000 rows x 2 columns]

In [22]:
trip.value_counts()

start                                                  end
Lake Shore Dr & Monroe St                              Streeter Dr & Grand Ave                                  854
Streeter Dr & Grand Ave                                Streeter Dr & Grand Ave                                  712
Jefferson Dr & 14th St SW                              Jefferson Dr & 14th St SW                                673
Smithsonian-National Mall / Jefferson Dr & 12th St SW  Smithsonian-National Mall / Jefferson Dr & 12th St SW    585
Streeter Dr & Grand Ave                                Theater on the Lake                                      561
                                                                                                               ...
C & O Canal & Wisconsin Ave NW                         USDA / 12th & Independence Ave SW                          1
                                                       Washington Blvd & 10th St N                                1
                                                       Washington Blvd & Walter Reed Dr                           1
                                                       Wilson Blvd & Franklin Rd                                  1
Morgan St & 31st St                                    Damen Ave & Grand Ave                                      1
Length: 174511, dtype: int64

In [23]:
#most common trip from start to end
t=ss + ' to  '+ es 
print('most common trip from start to  end =  ' + t.mode())

0    most common trip from start to  end =  Lake Sh...
dtype: object

# Trip duration

In [24]:
#start time
st

0        2017-06-11 14:55:05
1        2017-05-11 15:30:11
2        2017-03-29 13:26:26
3        2017-05-08 19:47:18
4        2017-06-21 07:49:16
                 ...
299995   2017-01-21 13:18:00
299996   2017-04-28 19:32:19
299997   2017-02-12 09:59:01
299998   2017-04-16 17:07:15
299999   2017-05-30 12:38:28
Name: Start Time, Length: 900000, dtype: datetime64[ns]

In [26]:
#end time
et=pd.concat ([nyc['End Time'] , was['End Time'],chi['End Time']])
et

0         2017-06-11 15:08:21
1         2017-05-11 15:41:43
2         2017-03-29 13:48:31
3         2017-05-08 19:59:01
4         2017-06-21 07:54:46
                 ...
299995    2017-01-21 13:27:50
299996    2017-04-28 19:51:18
299997    2017-02-12 10:21:49
299998    2017-04-16 17:19:00
299999    2017-05-30 12:55:36
Name: End Time, Length: 900000, dtype: object

In [27]:
et=pd.to_datetime(et)
et

0        2017-06-11 15:08:21
1        2017-05-11 15:41:43
2        2017-03-29 13:48:31
3        2017-05-08 19:59:01
4        2017-06-21 07:54:46
                 ...
299995   2017-01-21 13:27:50
299996   2017-04-28 19:51:18
299997   2017-02-12 10:21:49
299998   2017-04-16 17:19:00
299999   2017-05-30 12:55:36
Name: End Time, Length: 900000, dtype: datetime64[ns]

In [28]:
total_time= et - st
total_time

0        0 days 00:13:16
1        0 days 00:11:32
2        0 days 00:22:05
3        0 days 00:11:43
4        0 days 00:05:30
               ...
299995   0 days 00:09:50
299996   0 days 00:18:59
299997   0 days 00:22:48
299998   0 days 00:11:45
299999   0 days 00:17:08
Length: 900000, dtype: timedelta64[ns]

In [29]:
#total travel time 
print('total travel time = ' + str(total_time.sum()) )

total travel time = 8963 days 16:49:11

In [30]:
 #average travel time 
print('average travel time = '+ str(total_time.mean()))

average travel time = 0 days 00:14:20.515278888

# User info

In [31]:
user_type =pd.concat ([nyc['User Type'] , was['User Type'],chi['User Type']])
user_type

0         Subscriber
1         Subscriber
2         Subscriber
3         Subscriber
4         Subscriber
             ...
299995    Subscriber
299996      Customer
299997    Subscriber
299998      Customer
299999    Subscriber
Name: User Type, Length: 900000, dtype: object

In [34]:
#counts of each user type 
print('counts of each user type = ' + str(user_type.value_counts()) )

counts of each user type = Subscriber    728824
Customer      170483
Dependent          1
Name: User Type, dtype: int64

In [35]:
gender = pd.concat ([nyc['Gender'] , chi['Gender']]) 
gender

0           Male
1           Male
2           Male
3         Female
4           Male
           ...
299995      Male
299996       NaN
299997    Female
299998       NaN
299999      Male
Name: Gender, Length: 600000, dtype: object

In [36]:
#counts of each gender 
print('counts of each gender = ' + str(gender.value_counts()) )

counts of each gender = Male      385198
Female    124541
Name: Gender, dtype: int64

In [39]:
 birth_year = pd.concat ([nyc['Birth Year'] , chi['Birth Year']])
birth_year

0         1998.0
1         1981.0
2         1987.0
3         1986.0
4         1992.0
           ...
299995    1965.0
299996       NaN
299997    1988.0
299998       NaN
299999    1984.0
Name: Birth Year, Length: 600000, dtype: float64

In [41]:
birth_year =birth_year.dropna()
birth_year

0         1998.0
1         1981.0
2         1987.0
3         1986.0
4         1992.0
           ...
299992    1955.0
299994    1988.0
299995    1965.0
299997    1988.0
299999    1984.0
Name: Birth Year, Length: 510761, dtype: float64

In [42]:
#most common year of birth
print('most common year of birth = ' + str(birth_year.mode()))

most common year of birth = 0    1989.0
dtype: float64

In [43]:
print('  most recent year of birth = ' + str(birth_year.max()))

  most recent year of birth = 2016.0

In [44]:
print(' earliest year of birth = ' + str(birth_year.min()))

 earliest year of birth = 1885.0

In [3]:
percentage = int(input())
if percentage > 90:
    print('A')
elif 80 < percentage <= 90:
    print('B')
elif 60 <= percentage <= 80:
    print('C')
else:print('D')

60
C